# Data Science Analysis Using Python

You are tasked to perform Exploratory Data Analysis (EDA) and generate insights from whatever dataset you would like to use. You are expected to be doing some data wrangling using Pandas and visualization using Matplotlib at the very least. You may use any dataset you wish to, whether it be offline (local) or online.

To get you started, here's a dataset you could quickly get your hands dirty with, but I highly suggest using other datasets you could find on the internet or your personal dataset, as long as you are not breaching any data privacy-related concerns.

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Cyntwikip/data-repository/main/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Here are some datasets I have made available in my <a href="https://github.com/Cyntwikip/data-repository">public data repository on Github</a>:

- Titanic: https://raw.githubusercontent.com/Cyntwikip/data-repository/main/titanic.csv 
- Illness Toy Dataset: https://raw.githubusercontent.com/Cyntwikip/data-repository/main/illness.csv