# Python Quiz

## Basic Python

For the following questions under this section, you may not use any third-party library such as `numpy`, `pandas`, and `matplotlib`.

### Problem 1: List Manipulation

Given the list below, sort it in descending order and return the fourth, third, and second to the last elements. 

For example, if you initially have `[1, 2, 3, 4, 5]`, return `[4, 3, 2]`.

In [1]:
var_list = ['jude', 'python', 'datascience', 'Programming', '', ' ', '_', '*']

# your code here

### Problem 2: Loops and Controls

Given an integer i, create a code which does the following:
 - Step 1: Print based on the following conditions:
     - print `fizz` if `i` is divisible by 5.
     - print `fuzz` if `i` is divisible by 2. If it is both divisible by 5 and 2, just print `fizz`.
     - print `foo` if not divisible by 5 or 2.
 - Step 2: Deduct 1 from the the current value of integer `i`.
 - Step 3: Go back to Step 1 if `i` is greater than 0.

For instance, if ```i = 10```, we should get the following result:

```
fizz
foo
fuzz
foo
fuzz
fizz
fuzz
foo
fuzz
foo
```

In [2]:
i = 10

# your code here

## Data Science Libraries

For this section, we will be testing your skill with the data science library trio.

### Problem 3: Numpy

Using the numpy array I have generated below, do the following:
 - retrieve the values that are greater than 0.5 or lower than -0.5
 - get the mean and standard deviation of the filtered array from above

In [3]:
import numpy as np

np.random.seed(42) # ensures that numbers we are getting are consistent

nums = np.random.normal(loc=0, scale=1, size=(20))
nums

array([ 0.49671415, -0.1382643 ,  0.64768854,  1.52302986, -0.23415337,
       -0.23413696,  1.57921282,  0.76743473, -0.46947439,  0.54256004,
       -0.46341769, -0.46572975,  0.24196227, -1.91328024, -1.72491783,
       -0.56228753, -1.01283112,  0.31424733, -0.90802408, -1.4123037 ])

In [4]:
# your code here

### Problem 4: Pandas

Using the Titanic dataset have already loaded the data for you, return the average fare of all female passengers who survived and have an age greater than 40.

In [5]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Cyntwikip/data-repository/main/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# your code here

### Problem 5: Matplotlib

Using matplotlib, create a plot using the first 2 features (from variable `X`) and the target (from variable `y`) of the iris flower dataset that I have already loaded for you. **What do you think is the appropriate graph for this data?**

`X` contains the features and `y` is the target/output. `y` has 3 possible values in this dataset: 0, 1, and 2, which correspond to the different types of iris flower.

If you wish to know more details about the dataset, you may go to this <a href="https://scikit-learn.org/stable/datasets/toy_dataset.html#iris-dataset">link</a>.

In [7]:
import matplotlib.pyplot as plt
from sklearn import datasets

X, y = datasets.load_iris(return_X_y=True)

In [8]:
# your code here

## ASCII Art

ASCII art is any art created by printing characters on the screen.

### Problem 6: Hourglass / X-box

Create a program that prints out an hourglass (X bounded by a box) using asteriks (*), where the dimension of the box is `n x n`. We assume that `n` is always an odd number for this problem.

For example, if `n` = 5, print the following:

```
*****
** **
* * *
** **
*****
```

If `n` = 9, print the following:
```
*********
**     **
* *   * *
*  * *  *
*   *   *
*  * *  *
* *   * *
**     **
*********
```

Your code should not be hard-coded and must adapt to different `n` values.

In [9]:
n = 9
# your code here

## Math Problems

The following problems are taken from <a href="https://projecteuler.net/">Project Euler</a>.

**What is Project Euler?**

> "Project Euler is a website dedicated to a series of computational problems intended to be solved with computer programs. The project attracts adults and students interested in mathematics and computer programming. Since its creation in 2001 by Colin Hughes, Project Euler has gained notability and popularity worldwide." - <a href="https://en.wikipedia.org/wiki/Project_Euler">Wikipedia</a>

On their website, we can see this footer message:
> "Project Euler exists to encourage, challenge, and develop the skills and enjoyment of anyone with an interest in the fascinating world of mathematics."

For the following questions, you may not use any third-party library such as `numpy`, `pandas`, and `matplotlib`.

### Problem 7: Multiples of 3 and 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [10]:
# your code here

### Problem 8: Even Fibonacci Numbers

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

```1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...```

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [11]:
# your code here